<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acc"
    tools:ignore="LockedOrientationActivity">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SetupConfigurator"
        android:hardwareAccelerated="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2875376810281152~1290232103"/>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity
            android:name=".view.SetupReaderJsonAeroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderJsonDampersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderJsonMechanicalActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderJsonElectronicsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderJsonTyresActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderFilesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupReaderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetupConfigActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RaceTacticsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FuelCalculatorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>